.competition {
  padding-top: 120px;
  padding-bottom: 50px;

  @include vp-1199 {
    padding-top: 101px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 35px;
  }
}

.competition__container {
  display: flex;

  @include vp-767 {
    flex-direction: column;
  }
}

.competition__container-inner {
  background-color: #ed0233;
  padding: 54px 77px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  aspect-ratio: 1 / 1;
  width: 500px;

  @include vp-1199 {
    width: 43%;
    padding: 30px 44px;
  }

  @include vp-767 {
    width: 100%;
    aspect-ratio: unset;
    padding: 50px 44px;
  }
}

.competition__title-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 19px;
  margin-top: auto;

  @include vp-1199 {
    justify-content: flex-start;
    margin-bottom: 7px;
  }

  @include vp-767 {
    margin-bottom: 5px;
  }
}

.competition h2 {
  display: block;
  font-family: $ff-alumni-sans;
  font-size: 82px;
  line-height: 82px;
  font-weight: 600;
  color: $color-default-white;
  letter-spacing: 0.03em;
  text-align: start;
  text-transform: uppercase;
  margin: 0;
  padding-left: 3%;

  @include vp-1199 {
    font-size: 48px;
    line-height: 46px;
    margin-right: 30px;
    padding-left: 5px;
  }
}

.competition__table-container {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: $color-default-white;
  flex-shrink: 0;

  @include vp-1199 {
    font-size: 12px;
    line-height: 13px;
  }
}

.competition__table:not(:last-of-type) {
  margin-bottom: 15px;

  @include vp-1199 {
    margin-bottom: 0;
  }
}

.competition__table tr:first-of-type > td:first-child {
  border-bottom: 1px solid #ffffff;
}

.competition__table--date tr:nth-of-type(2n) > td:first-child,
.competition__table--time tr:last-of-type > td {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;

  @include vp-1199 {
    font-size: 24px;
    line-height: 21px;
  }

  @include vp-767 {
    line-height: 26px;
  }
}

.competition__table--date tr:nth-of-type(2n) > td:last-child,
.competition__table--date tr:last-of-type > td {
  font-size: 14px;
  line-height: 19px;
  padding-left: 5px;

  @include vp-1199 {
    font-size: 10px;
    line-height: 11px;
    padding-left: 0;
  }
}

.competition p {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 44px;

  @include vp-1199 {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 33px;
  }

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.competition a {
  padding: 25px 27px;
  background: none;
  border-color: $color-default-white;
  color: $color-default-white;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  width: 100%;
  margin-bottom: 20px;

  @include vp-1199 {
    font-size: 10px;
    line-height: 12px;
    border-width: 2px;
    padding: 13px 27px;
  }
}

.competition a:last-of-type {
  margin-bottom: auto;
}

.competition__image-container {
  flex-grow: 1;
}

.competition__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 660 / 500;
  background-color: #1C3374;

  &--tablet,
  &--mobile {
    display: none;
  }

  @include vp-1199 {
    aspect-ratio: 386 / 292;

    &--desktop {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  @include vp-767 {
    aspect-ratio: 290 / 292;

    &--desktop,
    &--tablet {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }
}
